li {
  padding: 0.5em;
}

.footer-logo {
  display: block;
  width: 13em;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
